<div style="text-align:center">
  <h1>
    LocalCast Weather
  </h1>
  <div>Your city, your forecast, right now!</div>
  <h2>Current Weather</h2>
  <div *ngIf="!current">
    no data
  </div>
  <div *ngIf="current">
    <div>
      <span>{{current.city}}, {{current.country}}</span>
      <span>{{current.date | date:'fullDate'}}</span>
    </div>
    <div>
      <img [src]='current.image' height="20" width="20">
      <span>{{current.temperature | number:'1.0-0'}}˚F</span>
    </div>
    <div>
      {{current.description}}
    </div>
  </div>
</div>
